<div class='about-me flex flex-col items-center justify-center' id='aboutme-section'>
	<h5 class='text-5xl mb-8 font-light border px-10 py-5 border-[#bebebe] text-[#bebebe] dark:border-[#707070] dark:text-[#707070]'>Life's purpose</h5>
	<h6 class='gsap-fade-up'>Delivering technology to the grassroots, empowering communities to enhance their value.</h6>
</div>
<div class='cursor'>
	<div class='cursor-inner'>
		<div class='cursor-text' data-splitting>Move-Around-Move-Around-</div>
	</div>
</div>
