<div class='article'>
	<div class='row flex justify-between'>
		<div class='left'>
			<h1 data-aos='fade-up' data-aos-once='true' data-aos-duration='1500'>Brain Dump, Ways of Thinking</h1>
			<p data-aos='fade-up' data-aos-once='true' data-aos-duration='1500'>
				I share what I do in learning new things and growing into the person I am today. All the basics you need to know in web development.
			</p>
		</div>
		<div class='right'>
			<div class='scroll-content flex justify-between'>
				<div class='card-1'>
					<a href='soon'><img src='assets/blog-html.jpg' alt='' /></a>
					<a href='soon'><img src='assets/blog-js.jpg' alt='' /></a>
					<a href='soon'><img src='assets/blog-tailwind.jpg' alt='' /></a>
					<a href='soon'><img src='assets/blog-php.jpg' alt='' /></a>
				</div>
				<div class='card-2'>
					<a href='soon'><img src='assets/blog-sass.jpg' alt='' /></a>
					<a href='soon'><img src='assets/blog-react.jpg' alt='' /></a>
					<a href='soon'><img src='assets/blog-vue.jpg' alt='' /></a>
				</div>
			</div>
		</div>
	</div>
</div>
