<div class='article'>
	<div class='row flex justify-between'>
		<div class='left'>
			<h1 class='gsap-fade-up'>Brain Dump, Ways of Thinking</h1>
			<p class='gsap-fade-up'>
				I share what I do in learning new things and growing into the person I am today. All the basics you need to know in web development.
			</p>
		</div>
		<div class='right'>
			<div class='scroll-content flex justify-between'>
				<div class='card-1'>
					<a href='soon' aria-label='HTML Blog'><img src='assets/blog-html.jpg' alt='HTML Blog' /></a>
					<a href='soon' aria-label='JavaScript Blog'><img src='assets/blog-js.jpg' alt='JavaScript Blog' /></a>
					<a href='soon' aria-label='Tailwind Blog'><img src='assets/blog-tailwind.jpg' alt='Tailwind Blog' /></a>
					<a href='soon' aria-label='PHP Blog'><img src='assets/blog-php.jpg' alt='PHP Blog' /></a>
				</div>
				<div class='card-2'>
					<a href='soon' aria-label='Sass Blog'><img src='assets/blog-sass.jpg' alt='Sass Blog' /></a>
					<a href='soon' aria-label='React Blog'><img src='assets/blog-react.jpg' alt='React Blog' /></a>
					<a href='soon' aria-label='Vue Blog'><img src='assets/blog-vue.jpg' alt='Vue Blog' /></a>
				</div>
			</div>
		</div>
	</div>
</div>
