---
import { IconGithub, IconInstagram, IconLinkedin, IconMail } from "@icons";
---

<div class='contact'>
	<div class='top'>
		<div class='row flex justify-between'>
			<div class='text self-center'>
				<span class='gsap-fade-down'>Let's</span><br />
				<span class='gsap-fade-down'>Collaborate</span>
			</div>
			<a href='mailto:bayuuat@gmail.com'>
				<div class='cta gsap-fade-left'>
					<p>Email Me!</p>
				</div>
			</a>
		</div>
	</div>
	<div class='bottom'>
		<hr class='dark:stroke-orange-600' />
		<div class='row flex justify-between'>
			<p class='self-center'>&copy; 2025 | Bayu Aditya Triwibowo</p>
			<div class='flex justify-between gap-14'>
				<a target='_blank' href='https://www.instagram.com/bayuuat/' aria-label='Visit Instagram profile'
					><IconInstagram
						className='stroke-[#bebebe] dark:stroke-[#707070] hover:stroke-black transition duration-500 dark:hover:stroke-white size-14'
					/></a
				>
				<a target='_blank' href='mailto:bayuuat@gmail.com' aria-label='Send email to creator'
					><IconMail
						className='stroke-[#bebebe] dark:stroke-[#707070] hover:stroke-black transition duration-500 dark:hover:stroke-white size-14'
					/></a
				>
				<a target='_blank' href='https://www.linkedin.com/in/bayuuat/' aria-label='Visit Linkedin profile'
					><IconLinkedin
						className='stroke-[#bebebe] dark:stroke-[#707070] hover:stroke-black transition duration-500 dark:hover:stroke-white size-14'
					/></a
				>
				<a target='_blank' href='https://github.com/bayuuat' aria-label='Visit Github profile'
					><IconGithub
						className='stroke-[#bebebe] dark:stroke-[#707070] hover:stroke-black transition duration-500 dark:hover:stroke-white size-14'
					/></a
				>
			</div>
		</div>
	</div>
</div>
