---
import { HOME } from "@consts";
import { IconGithub, IconInstagram, IconLinkedin, IconMail } from "@icons";
import ArrowLeft from "@icons/ArrowLeft.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
	<div class='wrapper'>
		<div class='coming-soon flex items-center justify-center'>
			<div class='inner-hero'>
				<h1 class='text-[#f4f4f4] dark:text-[#232323] gsap-fade-up'>Stories!</h1>
				<div class='gsap-fade-up'>
					<h2>Will coming very soon</h2>
					<p>Stay Tune</p>
				</div>
			</div>
			<div class='icon-holder'>
				<div class='icon flex justify-between'>
					<a href='/'
						><ArrowLeft
							className='stroke-[#bebebe] dark:stroke-[#707070] group-hover:stroke-black transition duration-500 dark:group-hover:stroke-white size-12'
						/></a
					>
					<a class='group' target='_blank' href='https://www.instagram.com/bayuuat/' aria-label='Visit Instagram profile'
						><IconInstagram
							className='stroke-[#bebebe] dark:stroke-[#707070] group-hover:stroke-black transition duration-500 dark:group-hover:stroke-white size-12'
						/></a
					>
					<a class='group' target='_blank' href='mailto:bayuuat@gmail.com' aria-label='Send email to me'
						><IconMail
							className='stroke-[#bebebe] dark:stroke-[#707070] group-hover:stroke-black transition duration-500 dark:group-hover:stroke-white size-12'
						/></a
					>
					<a class='group' target='_blank' href='https://www.linkedin.com/in/bayuuat/' aria-label='Visit Linkedin profile'
						><IconLinkedin
							className='stroke-[#bebebe] dark:stroke-[#707070] group-hover:stroke-black transition duration-500 dark:group-hover:stroke-white size-12'
						/></a
					>
					<a class='group' target='_blank' href='https://github.com/bayuuat' aria-label='Visit Github profile'
						><IconGithub
							className='stroke-[#bebebe] dark:stroke-[#707070] group-hover:stroke-black transition duration-500 dark:group-hover:stroke-white size-12'
						/></a
					>
				</div>
			</div>
		</div>
	</div>
</PageLayout>
