---
import Square from "./Square.astro";
---

<div class='relative flex w-full divide-x h-[20px] sm:h-[30px] md:h-[45px] xl:h-[40px] divide-neutral-300 dark:divide-neutral-700 divide-dashed'>
	<Square />
	<Square />
	<Square />
	<Square />
	<Square />
	<Square />
	<Square />
	<Square />
	<Square />
</div>
